@import 'components/_vars.scss';
@import 'components/_media.scss';
@import 'components/_forsvg.scss';
@import 'components/_request.scss';
@import 'components/_header.scss';
@import 'components/_promo.scss';
@import 'components/_tools.scss';
@import 'components/_management.scss';
@import 'components/_agency.scss';
@import 'components/_press.scss';
@import 'components/_case.scss';
@import 'components/_footer.scss';

html{
    font-size: $baseFontSize;
    @include desktop {
        font-size: $baseFontSize;
    }
    @include tablets {
        font-size: $baseFontSize;
        //font-size: $baseFontSize - 1px;
    }
    @include phones {
        font-size: $baseFontSize;
        // font-size: 2vmax;
    }
    min-width: 320px;   
}

.container {
    max-width: 1171/1920 * 100%;
    max-width: 60,9%;
    // border-left: 1px solid red;
    // border-right: 1px solid red;
    // margin-left: 375/1920 * 100%;
    // margin-right: 375/1920 * 100%;
    margin: 0 auto;

    @include desktop {
        max-width: 1266/1366 * 100%;
        // border-left: 1px solid red;
        // border-right: 1px solid red;
        margin: 0 auto;    
    }

    @include tablets {
        max-width: 700/768 * 100%;
        // border-left: 1px solid red;
        // border-right: 1px solid red;
        margin: 0 auto;
    }

    @include phones {
        max-width: 440/480 * 100%;
        // border-left: 1px solid red;
        // border-right: 1px solid red;
        margin: 0 auto;
    
    }

}

.colored {
    color: #74bbbf;
}

.content {
    &__image {
        float: left;
    }
}
.column {
    &__column-title {
        @extend %title-font;
        font-size: 32px;
        line-height: 39px;
        color: #2a2a2d;
    }
    &__column-text {
        @extend %subtitle-font;
        font-size: 18px;
        line-height: 27px;
        color: #6c6e75;
    }
}

.slick-track {
    display: flex;
}

.slick-list {
    overflow: hidden;
}

.slick-slide {
    display: flex;
    justify-content: space-between;
}

.link-arrow{
    display: flex;
    margin-left: 10px;
}