@function rem($px) {
    @return $px / $baseFontSize + 0rem;
}

@mixin desktop {
    @media screen and (max-width: $desktop) {
        @content;
    }
}

@mixin tablets {
    @media screen and (max-width: $tablets) {
        @content;
    }
}

@mixin phones {
    @media screen and (max-width: $phones) {
        @content;
    }
}