.press {

    .container {
        padding-top: rem(46px);
        padding-bottom: rem(80px);
    }

    &__header {
        display: flex;
        justify-content: space-between;
        
        &__title {
            @extend %title-font;
            font-size: rem(64px);
            // line-height: 77px;
            color: #3b3c40;
        }

        &__link {
            display: flex;
            align-items: center;
            @extend %link-font;
            font-size: 16px;
            // line-height: 24px;
            color: #2a2a2d;
        }
    }

    .slider__box-item {
        
        display: flex;
        justify-content: center;
    }

    &__slider-title {
        padding-top: 0;
        margin-top: 0;
        font-size: rem(32px);
        line-height: rem(39px);
        @extend %title-font;
        width: 100%;
    }
    &__slider-text {
        font-size: 18px;
        line-height: 27px;
        @extend %subtitle-font;
        color: #6c6e75;
    }
    &__slider-info {
        margin-left: rem(40px);
    }
    &__slider-text-wrapper {
        margin-bottom: rem(110px);
    }
    &__slider-data {
        font-size: 14px;
        line-height: 18px;
        color: #6c6e75;
        @extend %title-font;
    }
    &__slider-img {
        height: 100%;
        object-fit: contain;
    }

    &__slider .slick-arrow {
        position: absolute;
        bottom: 0;
        z-index: 10;
        font-size: 0;
    }

    &__slider .slick-next.slick-arrow {
        width: rem(54px);
        height: rem(49px);
        bottom: rem(20px);
        right: rem(370px);
        background: url("../icons/sprite.svg#arrow_right");
        border: none;
    }

    &__slider .slick-prev.slick-arrow {
        width: 54px;
        height: 49px;
        bottom: 20px;
        right: 440px;
        background: url("../icons/sprite.svg#arrow_left");
        border: none;
    }
}