@import "vars";
.request {
    height: rem(488px);
    background-color: #74bbbf;
    &__wrapper {
        display: flex;
        align-items: center;
        padding-top: 71px;
    }
    &__info {
        // margin-top: 71px;
    }
    &__title {
        @extend %link-font;
        font-size: 40px;
        line-height: 48px;
        color: #fff;
        max-width: 186px;
        margin-bottom: 32px;
    }
    &__subtitle {
        @extend %subtitle-font;
        font-size: 16px;
        line-height: 20px;
        color: #fff;
        max-width: 312px;
        margin-bottom: 80px;
    }
    &__contact {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 312px;
    }
    a {
        text-decoration: none;
        color: #fff;
    }

    &__contact-telephone {
        @extend %link-font;
        font-size: 1.5rem;
        line-height: 36px;
        // height: 36px;
    }

    &__contact-email {
        @extend %link-font;
        font-size: 24px;
        line-height: 36px;
    }
    &__form {
        // margin-top: 71px;
        margin-left: 90px;
    }
    .form {
        input[type="text"] {
            @extend %subtitle-font;
            padding: 0px 20px;
            font-size: 16px;
            line-height: 20px;
            color: #fff;
        }
        input::placeholder {
            color: #b9dcde;
            font-size: 16px;
            line-height: 20px;
            position: relative;
        }
        width: 770px;
        height: 314px;
        &__content {
            display: flex;
            flex-direction: row;
            align-items: start;
            margin-bottom: 20px;
            justify-content: space-between;
        }
        &__submit {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
        &__name {
            width: 330px;
            height: 60px;
            background-color: transparent;
            border: 1px solid #b9dcde;
        }
        &__tel {
            width: 330px;
            height: 60px;
            background-color: transparent;
            border: 1px solid #b9dcde;
            // margin-left: 30px;
        }
        &__email {
            width: 730px;
            height: 60px;
            background-color: transparent;
            border: 1px solid #b9dcde;
            margin-bottom: 20px;
        }
        &__theme {
            width: 770px;
            height: 60px;
            background-color: transparent;
            border: 1px solid #b9dcde;
            margin-bottom: 40px;
            padding: 20px 52px 20px 20px;
            appearance: none;
            cursor: pointer;
            color: #b9dcde;
            font-size: 16px;
            line-height: 20px;
            @extend %subtitle-font;
            &-option {
                color: black;
            }
        }
        &__description {
            @extend %subtitle-font;
            width: 331px;
            font-size: 14px;
            line-height: 18px;
            color: #b9dcde;
        }
        &__link {
            color: #ffffff;
        }
        &__btn {
            width: 173px;
            height: 52px;
            border: none;
            @extend %subtitle-font;
            font-size: 16px;
            line-height: 20px;
        }
    }
}

.select__wrapper {
    position: relative;
}

.select__wrapper::after {
    content: "";
    position: absolute;
    top: 20px;
    right: 20px;
    bottom: 20px;
    pointer-events: none;
    background-image: url("/img/select-arrow.svg");
    height: 20px;
    width: 20px;
}