%title-font{
    font-family: Inter;
    font-weight: 300;
}

%subtitle-font{
    font-family: Inter;
    font-weight: 400;
}

%link-font{
    font-family: Inter;
    font-weight: 500;
}

%footer-font{
    font-family: Open Sans;
    font-weight: 400;
}