.agency {
    // height: rem(858px);
    
    .container {
        display: flex;
        justify-content: start;
        align-items: center;
        padding-top: rem(146px);
        padding-bottom: rem(134px);
    }

    &__text {
        width: rem(536px);
    }
    &__title {
        @extend %title-font;
        font-size: rem(64px);
        line-height: rem(77px);
        color: #3b3c40;
    }
    p {
        @extend %subtitle-font;
        font-size: rem(18px);
        line-height: rem(27px);
        color: #6c6e75;
    }
    &__link {
        display: flex;
        align-items: center;
        @extend %link-font;
        font-size: rem(16px);
        line-height: rem(24px);
        color: #2a2a2d;
        margin-top: rem(25px);
    }
    &__image {
        width: 32%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: rem(49px);
        img {
            width: 100%;
        }
    }
    // &::after {
    //     content: "";
    //     position: absolute;
    //     height: 1px;
    //     width: 1545/1920*100%;
    //     left: rem(372px);
    //     background-color: #d5d5d8;
    // }
}