.case {
    background-color: #f0f8fa;
    
    &__slider-box {
        // Глюк slick.js не удалять, а то получим огромную width элемента
        width: 100%;
    }

    .container {
        padding-top: rem(94px);
        padding-bottom: rem(101px);
        @include phones {
            padding-top: rem(45px);
            padding-bottom: rem(0px);
        }
    }

    &__title {
        @extend %title-font;
        font-size: rem(64px);
        line-height: rem(77px);
        @include phones {
            font-size: rem(32px);
            line-height: rem(38px);
            padding-top: 0;
            margin: 0;
            text-align: left;
        }        
    }

    &__slider-item {
        position: relative;
        width: rem(1170px);
        height: rem(580px);
        margin-bottom: rem(69px);          
        background-image: url('../../img/case.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center top;
        @include phones {
            height: rem(419px);
            background-position: left top;
            position: relative;
        }
    }
    
    &__slider-info { 
        position: absolute;
        bottom:-50px;
        right: 0;
        height: rem(452px);
        width: rem(549px);
        background: #ffffff;
        box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);  
        @include phones {
            position: relative;
            top: rem(280px);
            background-color: transparent;
            color: #fff;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

        }     
    }

    &__slider-title {
        width: rem(422px);
        font-size: rem(32px);
        line-height: rem(39px);
        @extend %title-font;
        padding: rem(15px) rem(81px) rem(0px) rem(46px);
        margin-bottom: rem(23px);
        @include phones {
            width: 100%;
            padding: 0;
            margin: 0;
        }
        }
    
    &__slider-content {
        width: rem(460px);
        padding: 0px 40px 0 49px;
        margin-bottom: rem(30px);
        @include phones {
            width: 100%;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: start;
        }
    }

    &__slider-text {
        color: #6c6e75;
        @extend %subtitle-font;
        font-size: rem(18px);
        line-height: rem(27px);
        @include phones {
            width: 100%;
            padding: rem(16px) 0;
            margin: rem(16px) 0;
            ont-size: rem(16px);
            line-height: rem(22px);

        }
    }
    &__slider-link {
        display: flex;
        align-items: center;
        @extend %link-font;
        font-size: rem(14px);
        line-height: rem(24px);
        padding-left: rem(49px);
        @include phones {
            display: none;
        }
    }

    &__prev-button {
        width: rem(54px);
        height: rem(49px);
        background: #FFFFFF;
        fill: #fff;        
        transform: matrix(-1, 0, 0, 1, 0, 0);
        @include phones {
            display: inline-block;
            width: rem(35px);
            height: rem(32px);
            margin-top: rem(22px);
            margin-bottom: rem(22px);
        }
    }
    &__next-button {
        width: rem(54px);
        height: rem(49px);
        background: #FFFFFF;
        fill: #fff;
        margin-left: rem(16px);        
        transform: matrix(1, 0, 0, 1, 0, 0);
        @include phones {
            display: inline-block;
            width: rem(35px);
            height: rem(32px);
            margin-right: rem(5px);
            margin-top: rem(22px);
            margin-bottom: rem(22px);
        }
    }
}
