.case {
    background-color: #f0f8fa;
    &__title {
        padding-top: rem(94px);
        font-size: rem(64px);
        line-height: rem(77px);
        @extend %title-font;
    }

    &__slider {
    }
    &__slider-box {
        @include phones {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
    &__slider-img {
        width: 100%;
    }
    &__slider-item {
    }
    &__slider-pos {
        z-index: 1;
        position: relative;
        display: flex;
        padding-bottom: rem(170px);
    }
    &__slider-info {
        z-index: 2;
        position: absolute;
        width: rem(549px);
        // height: rem(452px);
        background: #ffffff;
        box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
        bottom: rem(110px);
        right: 0;
    }
    &__slider-title {
        width: rem(422px);
        font-size: rem(32px);
        line-height: rem(39px);
        @extend %title-font;
        padding: rem(15px) rem(81px) rem(0px) rem(46px);
        margin-bottom: rem(23px);
    }
    &__slider-content {
        width: rem(460px);
        padding: 0px 40px 0 49px;
        margin-bottom: rem(30px);
    }
    &__slider-text {
        color: #6c6e75;
        @extend %subtitle-font;
        font-size: rem(18px);
        line-height: rem(27px);
    }
    &__slider-link {
        display: flex;
        align-items: center;
        @extend %link-font;
        font-size: rem(14px);
        line-height: rem(24px);
        padding-left: rem(49px);
    }

    &__slider .slick-arrow {
        position: absolute;
        bottom: 0;
        z-index: 10;
        font-size: 0;
    }

    &__slider {
        position: relative;
    }


    &__slider .slick-next.slick-arrow {
        width: rem(54px);
        height: rem(49px);
        bottom: rem(20px);
        right: rem(370px);
        background: url("../icons/sprite.svg#case_arrow_right");
        border: none;
    }

    &__slider .slick-prev.slick-arrow {
        width: rem(54px);
        height: rem(49px);
        bottom: rem(20px);
        right: rem(440px);
        background: url("../icons/sprite.svg#case_arrow_left");
        border: none;
    }

}