.management {
  
    background-color: #f0f8fa;

    .container {
        width: 100%;
        padding-top: rem(135px);
        padding-bottom: rem(167px);
        
        @include phones {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    &__image {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__content {
        display: flex;

        @include phones {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        @extend %link-font;
        font-size: 16px;
        line-height: 24px;
        color: #2a2a2d;
        margin-left: 2px;
    }

    &__column {
        width: 100%;
        &:not(:last-child) {
            margin-right: rem(80px);
            @include phones {
                margin-right: 0;
            }
        }
    
        &__item {
            @extend %subtitle-font;
            font-size: 18px;
            color: #6c6e75;
            line-height: 27px;
        }

        &__title {
            @extend %title-font;
            font-size: rem(64px);
            line-height: rem(77px);
            margin-top: rem(10px);
            margin-bottom: rem(51px);
            text-transform: uppercase;

            @include phones {
                font-family: Inter;
                font-style: normal;
                font-weight: 300;
                font-size: rem(32px);
                line-height: rem(38px);
                color: #3B3C40;
                margin: 0;
                padding: 0;
                }
        }

        @include phones {
            width: 100%;
            margin-left: 0;
            padding: 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__link-arrow {
        margin-left: 10px;
        display: flex;
    }
}
