.promo {
    padding: rem(90px) auto rem(84px) rem(375px);

    .container {
        display: flex;
        align-items: center;
        height: rem(282px);
        width: 100%;
    }
    
    &__info {
        display: flex;
        justify-content: space-between;
        @include phones {
            display: flex;
            flex-direction: column;
            }
    }
    
    // &::after {
    //         content: "";
    //         position: absolute;
    //         height: 1px;
    //         width: 1545/1920*100%;
    //         left: rem(372px);
    //         background-color: #d5d5d8;
    // }
}