.tools {
    width: 100%;
    // height: rem(906px);
    padding-top: rem(135px);
    padding-bottom: rem(167px);
    overflow: hidden;

    .container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;  
        
        @include phones {
            display: flex;
            flex-direction: column;
            align-items: center
        }  
    }

    &__content {
        @extend %subtitle-font;
        display: flex;
        flex-direction: column;
        width: rem(560px);
        font-size: rem(18px);
        line-height: rem(27px);
        color: #6c6e75;

        @include phones {
            width: 100%;
            font-family: Inter;
            font-style: normal;
            font-weight: 300;
            font-size: rem(16px);
            line-height: rem(22px);
            color: #3B3C40;

            &>p {
                margin-top: rem(13px);
            }

        }  

        &-title {
            width: rem(560px);
            @extend %title-font;
            font-size: rem(64px);
            line-height: rem(77px);
            color: #3b3c40;
    
            @include phones {
                width: 100%;
                font-family: Inter;
                font-style: normal;
                font-weight: 300;
                font-size: rem(32px);
                line-height: rem(38px);
                color: #3B3C40;
            }  
        }

        &-link {
            margin-top: rem(55px);
            display: flex;
            align-items: center;
            @extend %link-font;
            font-size: rem(16px);
            line-height: rem(24px);
            color: #2a2a2d;

            @include phones {
                margin-top: rem(19px);
            }   
        }
    }

    &__image {
        display: flex;
        align-items: center;
        justify-content: start;
        object-fit: contain;
        
        @include phones {
            order: -1;
        }
    }
}